/* memberlist.component.scss */

.scroll-container {
    position: relative;
    height: 300px; /* Ajusta la altura para mostrar solo algunas filas */
    overflow: hidden; /* Oculta el contenido que se desliza fuera de la vista */
  }
  
  .scroll-list {
    position: absolute;
    width: 100%;
    transition: top 0.5s ease-in-out; /* Transición suave para el desplazamiento */
  }
  