<app-back-home />

<div class="w-full flex items-center justify-between bg-blue-950 p-3 rounded-xl">
    <div class="flex flex-col items-center gap-4">
        <span>
            <p class="text-gray-400">Cuenta básica</p>
            <span class="flex gap-2">
                <p>{{basic}}</p>USDT
            </span>
        </span>
        <span>
            <p class="text-gray-400">Cuenta retiro</p>
            <span class="flex gap-2">
                <p>{{retiro}}</p>USDT
            </span>
        </span>
    </div>
    <img src="assets/others/account.png" alt="account" class="w-28">
</div>