<!-- <div class="w-full  text-center">
    <img src="assets/others/login.jpg" alt="avatar" class="rounded-lg w-full h-56 sm:hidden">
    <img src="assets/others/login-desktop.jpg" alt="avatar" class="rounded-lg w-full h-[30rem] hidden sm:block">
</div>  -->
<div class="body relative mx-auto h-[28rem] sm:h-[38rem]">

    <input type="radio" name="control" id="b1" checked>
    <input type="radio" name="control" id="b2">
    <input type="radio" name="control" id="b3">
    <input type="radio" name="control" id="b4">
    <div class="content">
        <div class="thumbnails mt-2">
            <label for="b1"></label>
            <label for="b2"></label>
            <label for="b3"></label>
            <label for="b4"></label>
        </div>
    </div>
</div>