<div class="w-full bg-blue-950 flex justify-center flex-col gap-4 items-center px-8 py-4 rounded-lg">
    <div class="w-full flex items-center border-b-[0.1px] pb-4">
        <button class="w-1/2">
            Ganancias obtenidas hoy
        </button>
        <button class="w-1/2">
            Todas las ganancias
        </button>
    </div>
    <div class="w-full flex  items-center">
        <article class="w-1/4 flex flex-col ">
            {{balance}}
            <p>Balance Total</p>
        </article>
        <div class="w-3/4 flex justify-end">
            <button>
                Reacargar
            </button>
        </div>
    </div>
    <div class="w-full flex items-center">
        hi
    </div>
</div>
<div class="flex items-center bg-blue-950 py-4 mt-7 rounded-xl">
    <button class="w-1/2">
        Gafas VR
    </button>
    <button class="w-1/2">
        Mis GAFAS
    </button>
</div>