<nav
    class="fixed bottom-0 z-50 w-full flex items-center justify-between box-border py-3 px-4 bg-blue-950 rounded-t-3xl">
    <button>
        <img src="assets/buttons/home.svg" alt="home" class="w-8 text-white stroke-1">
    </button>
    <button>
        <img src="assets/buttons/task.svg" alt="tasks" class="w-9">
    </button>
    <button>
        <img src="assets/buttons/team.svg" alt="team" class="w-8">
    </button>
    <button>
        <img src="assets/buttons/vip.svg" alt="vip" class="w-8">
    </button>
    <button>
        <img src="assets/buttons/me.svg" alt="me" class="w-8">
    </button>

</nav>