<app-back-home />

<div class="w-full bg-blue-950 rounded-xl">
    <div class="flex items-center bg-blue-950 mt-7 rounded-xl shadow-xl">
        <button (click)="basica()" class="w-1/2 py-3 rounded-xl" [ngClass]="{'bg-[#301E67] shadow-xl font-semibold': btnC}">
            Cuenta básica
        </button>
        <button (click)="retiro()" class="w-1/2 py-3 rounded-xl"
            [ngClass]="{'bg-[#301E67] shadow-xl font-semibold': !btnC}">
            Cuenta retiro
        </button>
    </div>
    <div class="p-3 w-full">
        {{data}}
    </div>
</div>