<section class="w-full bg-blue-950 rounded flex items-center">
    <div class="w-full flex flex-col items-center justify-between gap-2 py-1.5">
        <div class="bg-gray-900 w-11/12 text-2xl font-medium py-5 text-center rounded relative">
            $ {{ saldo }}
            <div class="absolute top-2 left-2 text-xs font-light">Saldo actual</div>
        </div>

        <input type="number" placeholder="Seleccione cantidad" class="p-3 rounded w-11/12 text-black"
            [(ngModel)]="cantidadSeleccionada" />

        <div class="grid grid-cols-3 gap-2 p-1">
            @for (cantidad of cantidades; track $index) {
            <button class="bg-black p-1.5 rounded" (click)="seleccionarCantidad(cantidad)">
                ${{ cantidad | number:'1.0-0' }}
            </button>
            }
        </div>

        <div>Tipo de pago</div>
        <button>Recargar ahora</button>
    </div>
</section>