<article class="bg-blue-950 p-2 sm:p-4 md:p-6 rounded">
    <p>1. Copie la dirección anterior o escanee el código QR y seleccione la red Tron (TRC20) para recargar TRX</p>
    <p>2. No recargue otros activos que no sean Tron(TRC20)-TRX. Recarga Los fondos llegarán a tu cuenta en
        aproximadamente
        1 a 3 minutos</p>
    <p>3. Luego de realizar la transferencia de los USDT realice una captura de pantalla donde se vea claramente los
        detalles de la transacción.</p>
    <p>4. Dele en "Recarga Completada", luego suba la captura de pantalla y listo.</p>
    <p>5. Si no llega durante mucho tiempo, actualice la página o comuníquese con el servicio de atención al cliente</p>
</article>