<section class="w-full py-2 bg-[#0E2954] rounded-xl overflow-hidden flex items-center">
    <button class="bg-[#0E2954] px-3 w-[5%] z-50 flex-shrink-0 left-0">
        <div class="bg-black w-9 py-1 px-2 rounded-xl">
            <img src="assets/icons/announcement.svg" alt="announcement" class="w-10">
        </div>
    </button>
    <p class="text-white whitespace-nowrap overflow-hidden overflow-ellipsis animate-marquee">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci, enim quisquam. Iste numquam quod delectus
        accusamus voluptas illo asperiores reiciendis?
    </p>
    <!-- <div class="bg-[#0E2954] text-[#0E2954] px-3 w-2 h-full z-50 flex-shrink-0 right-0">i</div> -->
</section>
