<div class="w-[80%] bg-blue-950 flex flex-col items-center justify-center mx-auto px-4 py-2 rounded-xl">
    <button class=" w-full flex justify-between items-center border-b-[1px] border-dashed mb-2 py-2">
        <span>
            Nequi
        </span>
        <img src="assets/icons/next.svg" alt="next" class="w-6">
    </button>
    <button class=" w-full flex justify-between items-center border-b-[1px] border-dashed mb-2 py-2">
        <span>
            TRX
        </span>
        <img src="assets/icons/next.svg" alt="next" class="w-6">
    </button>
    <button class=" w-full flex justify-between items-center border-b-[1px] border-dashed mb-2 py-2">
        <span>
            BEP20-USDT
        </span>
        <img src="assets/icons/next.svg" alt="next" class="w-6">
    </button>
    <button class=" w-full flex justify-between items-center py-2">
        <span>
            BNB
        </span>
        <img src="assets/icons/next.svg" alt="next" class="w-6">
    </button>
</div>