<div class="w-full bg-blue-950 flex flex-col items-center justify-center">
    <button class="flex items-center border-b-2">
        Lorem ipsum dolor sit amet.
        <img src="assets/icons/next.svg" alt="next" class="w-6">
    </button>
    <button class="flex items-center border-b-2">
        Lorem ipsum dolor sit amet.
        <img src="assets/icons/next.svg" alt="next" class="w-6">
    </button>
    <button class="flex items-center border-b-2">
        Lorem ipsum dolor sit amet.
        <img src="assets/icons/next.svg" alt="next" class="w-6">
    </button>
    <button class="flex items-center border-b-2">
        Lorem ipsum dolor sit amet.
        <img src="assets/icons/next.svg" alt="next" class="w-6">
    </button>
</div>