<h1 class="text-lg font-semibold">Actividad reguladora</h1>

<div class="grid grid-cols-3 gap-2 mt-2 font-normal sm:font-semibold text-sm sm:text-xl text-gray-950">
    <div class="flex items-center justify-between col-span-2 bg-slate-200 rounded px-4 sm:px-8 py-2 sm:py-2">
      <img src="assets\social\telegram.svg" alt="telegram" class="w-10 sm:w-20">
      Nuesto canal
    </div>
    <div class="flex items-center justify-between bg-slate-200 rounded px-4 sm:px-8 py-2 sm:py-2">Something</div>
    <div class="flex items-center justify-between bg-slate-200 rounded px-4 sm:px-8 py-2 sm:py-2">Something</div>
    <div class="flex items-center justify-between col-span-2 bg-slate-200 rounded px-4 sm:px-8 py-2 sm:py-2">
      <img src="assets\social\facebook.svg" alt="telegram" class="w-10 sm:w-20">
      Descúbrenos
    </div>
  </div>