<section class="w-full flex flex-col gap-2 items-center bg-blue-950 rounded-lg p-2 overflow-hidden">
    <div class="w-full text-center h-3">
        <p class="w-fit text-black font-thin text-sm grad px-4 ">{{name}}</p>
    </div>
    <div class="sm:w-96 w-[90vw] flex justify-between gap-4 items-center py-2 px-1">
        <img [src]="'assets/glasses/tinified/'+id+'.png'" alt="img" class="w-32 rounded">
        <div class="w-full flex flex-col items-center gap-2 text-sm font-light">
            <span class="w-full flex justify-between items-center">
                <p> Artículos máximos</p>
                4
            </span>
            <span class="w-full flex justify-between items-center">
                <p>Beneficio porcentaje</p>
                <p class="text-green-600">4</p>
            </span>
            <span class="w-full flex justify-between items-center">
                <p>Beneficio diario</p>
                <span class="inline-flex items-center gap-1">
                    <p class="">4</p>COP
                </span>
            </span>
            <span class="w-full flex justify-between items-center">
                <p>Beneficio total</p>
                <span class="inline-flex items-center gap-1">
                    <p class="">{{total}}</p>COP
                </span>
            </span>
        </div>
    </div>
    @if(showBtn){
        <div class="w-full flex justify-end -mt-2">
            <button class="w-3/5 flex justify-center text-sm gap-3 items-center bg-blue-900 p-1 rounded-md">
                {{price}}
                <p>Comprar Ahora</p>
            </button>
        </div>
    }
</section>